._hero {
  width: $per;
  height: $vh;
  background: #f1ede5;
  background-repeat: no-repeat;
  display: $f;
  justify-content: $c;
  align-items: $c;
  flex-direction: $cl;
  position: $re;
  &::after {
    content: "";
    position: $ab;
    background-image: url("/bg_flowers.png");
    background-position: $c;
    background-size: cover;
    width: $per;
    height: $per;
    opacity: 0.09;
  }
  header {
    width: $per;
    display: $f;
    justify-content: $sp;
    align-items: $c;
    position: $ab;
    top: 0;
    margin-top: 1em;
    nav {
      width: 90%;
      display: $f;
      justify-content: $sb;
      align-items: $c;
      ul {
        display: $f;
        justify-content: $sp;
        li {
          margin-right: 2em;
          list-style: $n;
          letter-spacing: 0.2em;
          font-family: $font;
          font-weight: $b;
          cursor: pointer;
          z-index: 99;
        }
      }
    }
  }
  .Product_Name {
    position: absolute;
    user-select: none;
    pointer-events: none;
    left: 10%;
    top: 50%;
    color: #000;
    mix-blend-mode: darken;
    animation: RotatedText 7.5s linear infinite;
    @keyframes RotatedText {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    span {
      display: inline-block;
      position: absolute;
      text-transform: uppercase;
      transform-origin: 0 100px;
      margin: 0;
      padding: 0;
      top: -100px;
      font-weight: $b;
      font-family: $font;
      font-size: 1.3em;
    }
  }
  &_child {
    width: $perhelf;
    display: $f;
    justify-content: $c;
    align-items: $c;
    z-index: 99;
    &_circle {
      position: $ab;
      right: 0;
      top: 38%;
      text-align: $c;
      color: #fff;
      font-family: $font;
      font-size: 0.8em;
      opacity: 0;
      overflow: $h;
    }
    &_imageHandler {
      overflow: $h;
      img {
        object-fit: cover;
        clip-path: inset(50% 0%);
      }
    }
    h1 {
      font-weight: $b;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-size: 6.5em;
      margin: 0%;
      font-family: $font;
    }
    p {
      font-weight: $b;
      font-size: 1em;
      margin: 0;
      padding: 0;
      font-family: $font;
      font-weight: 800;
      text-transform: lowercase;
      sup {
        margin-right: 0.3em;
      }
    }
  }
  &_orderbtn {
    display: $f;
    justify-content: $c;
    align-items: $c;
    margin: 0 !important;
    padding: 0 !important;
    position: $re;
    top: 5%;
    z-index: 99;
    span {
      text-align: $c;
      display: $f;
      justify-content: $c;
      align-items: $c;
      margin: 0 !important;
      padding: 0 !important;
      position: $re;
      width: 80px;
      height: 80px;
      cursor: pointer;
      &::before {
        content: "";
        position: $ab;
        border: 0.2em dashed #000;
        width: 80px;
        height: 80px;
        border-radius: $per;
        animation: RotatedBorder 7.5s linear infinite;
        @keyframes RotatedBorder {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }
      &:hover::before {
        animation: $n;
      }
    }
  }
}
