._testimonial {
  width: $per;
  height: $vh;
  background: #1f2022;
  background-repeat: no-repeat;
  display: $f;
  justify-content: $c;
  align-items: $c;
  flex-direction: $cl;
  position: $re;
  &::after {
    content: "";
    position: $ab;
    background-image: url("/bg_flowers.png");
    background-position: $c;
    background-size: cover;
    width: $per;
    height: $per;
    opacity: 0.7;
  }

  h1 {
    font-weight: $b;
    font-family: $font;
    font-size: 5em;
    margin: 0;
    color: #fff;
  }
  &_child {
    width: $perhelf;
    position: $re;
    display: $f;
    justify-content: $c;
    align-items: $c;
    background-image: url("/a.png");
    background-position: $c;
    background-size: contain;
    background-repeat: no-repeat;
    height: 80vh;
    &_whitePapper {
      width: calc($per / 2.5);
      padding: 1.5em;
      background: #fff;
      z-index: 9;
      display: $f;
      justify-content: $c;
      align-items: $c;
      flex-direction: $cl;
      text-align: $c;
      border-radius: 20px;
      h4 {
        font-weight: $b;
        font-family: $font;
      }
      p {
        font-family: $ro !important;
      }
      img {
        border-radius: $per;
        object-fit: cover;
      }
      &_next_Prev {
        width: $per;
        display: $f;
        justify-content: $sb;
        span {
          cursor: pointer;
        }
      }
    }
  }
}
