@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
  font-family: "Goldoni";
  font-display: swap;
  src: url("./fonts/Goldoni-65vo.ttf");
}
$f: flex;
$c: center;
$cl: column;
$sp: space-around;
$sv: space-evenly;
$sb: space-between;
$ab: absolute;
$re: relative;
$per: 100%;
$vh: 100vh;
$perhelf: 80%;
$n: none;
$b: bold;
$h: hidden;
$font: "Goldoni", sans-serif;
$ro: "Roboto", sans-serif;
@import "./components/Hero.module";
@import "./components/About.module";
@import "./components/Testimonial.module";
